h1{
font-size: 75px;
    color:slategray
}

i{
    font-size: 25px;
}

header{
    background: linear-gradient(110deg, cornflowerblue 40%, rgb(246, 246, 113) 40%)
}

section{
    background: rgb(167, 229, 167);
}

footer{
    background: black;
    color: white
}

div{
    text-align:center;
    padding: 40px;
}

h3{
   border: 2px solid grey ; 
   padding: 15px;
   font-size: 45px;
   margin: auto;
   max-width: 400px;
}